<table class="scoreboard-table">
  <tr>
    <th>User</th>
    <th>Drinks</th>
    <th></th>
  </tr>
  {% for user, total in leaderboard %}
    <tr>
      <td>
        {% if user.avatar %}
          <img src="{{ user.avatar.url }}" alt="{{ user.first_name }}" style="height:40px;width:40px;border-radius:50%;vertical-align:middle;">
        {% endif %}
        {{ user.first_name }}
      </td>
      <td>{{ total }}</td>
      <td>
        <div style="background: #ddd; width: 300px; height: 20px; position: relative;">
          {% for drink, count in user_drinks[user].items %}
            {% with width_percent=count|mul:100|div:total %}
            <div title="{{ drink.name }}: {{ count }}"
                 style="background: {{ drink.color }};
                        width: {{ count|floatformat:"2"|div:total|floatformat:"2" }}%;
                        height: 100%; float: left;">
            </div>
            {% endwith %}
          {% endfor %}
        </div>
      </td>
    </tr>
  {% endfor %}
</table>
