{% load dict_utils beer_utils %}

<table class="scoreboard-table" style="width:100%;max-width:900px;">
  <thead>
    <tr>
      <th style="text-align:left;">User</th>
      <th style="text-align:right;">Total</th>
      <th>🍺 Drinks</th>
    </tr>
  </thead>

  <tbody>
    {% for user, total in leaderboard %}
      <tr>
        <td>
          {% if user.avatar %}
            <img src="{{ user.avatar.url }}"
                 alt="{{ user.first_name }}"
                 style="height:40px;width:40px;border-radius:50%;
                        vertical-align:middle;margin-right:.5rem;">
          {% endif %}
          {{ user.first_name }}
        </td>

        <td style="text-align:right;">{{ total }}</td>

        <td style="font-size:1.4rem;line-height:1.2;">
          {{ total|beers }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
